{% extends 'base.html' %}

{% block head%}

{% endblock %}

{% block body %}
<div>
    <h1>Preciting Power Based on Speed</h1>

    <form action="/predict" method="POST">
        <div>
            <p>Speed</p>
            <input type="text" name = "speed" id="speed">
        </div>

        <div>
            <p>Power</p>
            <input type="text" name = "power" id="power">
        </div>

        <input type="submit" value="Predict">
    </form>
    <h2>Predicted: {{pred}}</h2>
</div>
{% endblock %}